<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <style>
        .downloadSend_main_container {
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .downloadUrl {
            min-width: 500px;
            padding: 1.2rem;
            border-radius: 9px;
            outline: none;
        }
    </style>
    <title>NODEMAILER</title>
</head>

<body>
    <div class="downloadSend_main_container">
        <div class="get_url">
            <span class="logo">
                <a href="https://github.com/RUPAAK" target="_b"><i class="fab fa-github"></i></a>
            </span>

            <div class="display">
                {{#if url.downloadUrl}}
                <input class="downloadUrl" value="{{url.downloadUrl}}">
                {{/if}}
                <button class="copy">Copy</button>
                <button class="vistt"><a href="{{url.downloadUrl}}">Visit</a></button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const downloadUrl = document.querySelector('.downloadUrl')
        const copy = document.querySelector('.copy')
        copy.addEventListener('click', () => {
            console.log('hi')
            downloadUrl.select()
            downloadUrl.setSelectionRange(0, 99999)
            document.execCommand('copy')
            alert('Copied Url')
        })</script>
</body>

</html>