<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <style>
        *{padding: 0; margin: 0;}
        a{text-decoration: none;}
        .download{
            font-size: 1.5rem;
        }
        .downloadHere_container{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>NODEMAILER</title>
</head>
<body>
    <div class="downloadHere_container">
        <a class="download" href="{{url}}">CLICK ME TO START DOWNLOADING...</a>
    </div>
</body>
</html>